.Board {
    position: relative;
    margin: 0 auto;
    background-color: rgb(18, 14, 211);
    background-image: linear-gradient(#333 1px, transparent 1px),
    linear-gradient(90deg, #333 1px, transparent 1px);
}

.Cell {
    background: rgb(216, 9, 9);
    position: absolute;
}

.controls {
    margin-top: 20px;
}

.button {
    margin-left: 12px;
    cursor: pointer;
}